<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Automata Project</title>
</head>
    <style>
         .btn {
            padding: 10px 40px;
            background-color: green;
            color: #FFFFFF;
            font-style: oblique;
            font-weight: bold;
            border-radius: 10px;
           
            
        }
        .title{
            margin-top: 95px;
            margin-bottom: 45px;
        }
        .btn:hover{
            width:200px
            height:200px
            background-color: white;
            color: black;
        }
    </style>

<body>
    <div class="relative">
        <div class="w-screen h-screen overflow-clip absolute top-0 left-0 z-10">
            <img src="{{url_for('static', filename='storage/math3.jpg')}}" alt="geomoetrical-cubes-paper" class="w-full">
        </div>
        <div class="w-screen h-screen absolute top-0 left-0 z-20"></div>
        <div class="w-screen h-screen flex flex-col space-y-5 items-center justify-center absolute top-0 left-0 z-30 text-white">
            <div>
                <p class="title text-6xl text-center font-bold">Let's Get Start</p>
            </div>
                <a href="{{url_for('option_page')}}" class="btn">START</a>
            </div>
        </div>
    </div>
</body>

</html>